@media(max-width:1024px){
    /* about section */
}

@media(max-width:991px){
    /* custom classes */
    .text-content{
        width: 100%;
    }
    /* navbar brand */
    .navigation-wrap .navbar-brand img{
        height: 61px;
    }
    .navigation-wrap{
        text-align: center;
        background-color: var(--white-color);
    }
    .navigation-wrap .nav-link{
        line-height: 30px;
    }
    /* banner Desing */
    .top-banner{
        padding: 150px 0 150px;
    }
     /* carousel Desing */
     .testimonial-section .carousel-item .carousel-caption p{
         padding: 0;
     }
}

@media(max-width:767px){
    /* custom css */
    h1{
        font-size: 44px;
    }
    h2{
        font-size: 32px;
        line-height: 33px;
    }
    /* top banner */
    .top-banner{
        padding: 174px 0 150px;
    }
    /* story section */
    .story-section{
        height: auto;
        padding: 48px 0;
    }
    /* carousel Desing */
    .testimonial-section .carousel-item{
        padding: 11rem 3.125rem;
    }
    /* newsletter  */
    .newsletter{
        width: 75%;
    }
    .newsletter .main-btn{
        width: 100%;
        margin-top: 1rem;
    }
    /* footer link */
    .footer .footer-link,
    .footer a i {
        padding: 0 0.7rem;
    }
}

@media(max-width:330px){
    /* carousel Desing */

    .testimonial-section .carousel-item{
        padding: 13rem 3.125rem;
    }
 
}